extends layout

block content
   div
    label Wager
    input(id='wager', type='text')

    label Duration per move
    input(id='move-duration', type='text')

    button(type='button', text='Create game', onclick='createGame()')