extends layout

block content
    div
        label Wager
        input(id='wager', type='text')

        label Duration per move
        input(id='move-duration', type='text')

        button(type='button', onclick='createGame();') Create game
    div
        button(type='button', onclick='joinGame();') Join game
    div
        button(type='button', onclick='getGames();') List games

    div
        ul#games-list
            h3 No games yet.
        
