extends layout

block content
    div
        label Wager
        input(id='wager', type='text')

        label Duration per move
        input(id='move-duration', type='text')

        button(id='btn-create', type='button') Create game

    div
        button(id='btn-list', type='button') List games

    div
        ul#games-list
            h3 No games yet.

    div
        div#board(style='width: 300px')
        sub#to-move
        button(id='btn-resign', type='button', hidden='hidden') Resign
        button(id='btn-claim-win', type='button', hidden='hidden') Try to Claim a Win on Time
