doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/content/external/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/content/external/chessboard/css/chessboard-0.3.0.min.css')
  body
    h1(id='main-title') Blockchain Chess

    block content

    block scripts
      script(src='/javascripts/external/jquery-3.3.1.min.js')
      script(src='/content/external/bootstrap/js/bootstrap.min.js')
      script(src='/javascripts/external/bootbox.min.js')
      script(src='/javascripts/external/chess.min.js')
      script(src='/content/external/chessboard/js/chessboard-0.3.0.js')
      script(src='/javascripts/async.js')
      script(src='/javascripts/init.js')
      script(src='/javascripts/Contract.js')
      script(src='/javascripts/ChessService.js')
      script(src='/javascripts/Engine.js')
      script(src='/javascripts/main.js')