doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='/javascripts/init.js')
      script(src='/javascripts/ClassicChess.js')
      script(src='/javascripts/main.js')
  body
    block content
