body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

.display-none {
  display: none;
}

label {
  color: white;
}

#main-title {
  width: 50%;
  margin: 0 auto;
  color: white;
}

#board {
  width: 500px;
}

.game-info {
  color: white;
}

#btn-create {
  margin-left: 30px;
  margin-top: 25px;
}

#search-row {
  margin-bottom: 15px;
}

#btn-search {
  margin-left: 10px;
  margin-top: 25px;
}

#games-list {
  padding-left: 0px;
}

  #games-list li {
    margin: 10px 10px 10px 0px;
    font-size: 12px;
    list-style-type: none;
  }

  #games-list h5 {
    color: white;
  }

  #games-list h6 {
    color: #aaa;
  }

.short-view-holder {
  background-color: rgba(23, 121, 3, 0.8);
  padding: 5px;
  margin-bottom: 5px;
}

  .short-view-holder::before {
    content: 'View';
    display: inline;
    float: right;
    font-size: 25px;
    color: white;
  }

  .short-view-holder:hover {
    cursor: pointer;
  }

  .short-end-holder {
    background-color: rgba(97, 95, 95, 0.8);
    padding: 5px;
    margin-bottom: 5px;
  }
  
    .short-end-holder::before {
      content: 'View';
      display: inline;
      float: right;
      font-size: 25px;
      color: white;
    }
  
    .short-end-holder:hover {
      cursor: pointer;
    }

.short-join-holder {
  background-color: rgba(201, 84, 5, 0.8);
  padding: 5px;
  margin-bottom: 5px;
}

.short-join-holder::before {
  content: 'Join';
  display: inline;
  float: right;
  font-size: 25px;
  color: white;
}

  .short-join-holder:hover {
    cursor: pointer;
  }

.short {
  font-size: 12px;
}

#board-box {
  margin-left: 300px;
}

.game-controls .btn {
  margin: 10px;
}

.board-controls .btn {
  margin: 10px;
}

.col-xs-12 {
  width: 100%;
}

.form-group {
  margin-left: 0px;
  margin-right: 0px;
}